<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Final</display-name>
  
  <servlet>
    <description></description>
    <display-name>Sir</display-name>
    <servlet-name>Sir</servlet-name>
    <servlet-class>ServletFinal.Sir</servlet-class>
    <init-param>
    		<param-name>count</param-name>
    		<param-value>46</param-value>
    
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sir</servlet-name>
    <url-pattern>/Sir</url-pattern>
  </servlet-mapping>
</web-app>